.DS_STORE
package-lock.json
yarn.lock
node_modules
*.log*
dist
lib/dist
.npmrc
.eslintcache
.dir-locals.el
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
data/*
logs/*.log
configs/secrets.json
!.keep
